
<div class="container" id="container">
  <div class="navbar"><h2>Task To Do</h2></div>
  <div class="form">
      <div class="form-group">
        <input class="form-control"  type="text" [(ngModel)]="task" name="task" placeholder="Enter task..." >
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="submit_task()">Submit</button>
      </div>
  </div>
  <div class="form">
    <div class="row">
      <h4>Task List</h4>
    </div>
    <ul>
      <li *ngFor="let task of alltask">{{task}}</li>
    </ul>
    
  </div>
</div>